.NavigationBar {
    background: inherit;
    position: sticky;
    top: -100px;
    left: 0px;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: top 0.8s;
    --navigation-background: $solid-black;

    .link-option {
        z-index: 100;
        color: $solid-black;
    }

    .title {
        z-index: 100;
        color: $solid-black;
    }
}

.NavigationBar:after {
    background: var(--navigation-background);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}
